@import "tailwindcss";

/* body {
  font-family: sans-serif;
  text-align: center;
  background: #f8f8f8;
}

#output {
  border: 1px solid #ccc;
  margin-top: 10px;
  border-radius: 8px;
}

#status {
  font-size: 1.1em;
  margin-top: 10px;
  font-weight: bold;
}

#rules {
  margin-top: 6px;
  color: #c62828;
}

#referenceStatus {
  margin-top: 8px;
  font-weight: bold;
}

button {
  margin: 10px;
  padding: 8px 16px;
  border-radius: 6px;
  cursor: pointer;
  border: 1px solid #ccc;
  background: white;
} */
